.bong{
  margin-left:200px;
  padding-left:-100px;
}


.butt {
padding-top:10px;

}


.tickets{
  margin-left:190px;
  margin-top:-55px;
}


.bg{
  background: #403B4A;
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
background: linear-gradient(to right, #E7E9BB, #403B4A);
padding-bottom:1000px;


}

.letters{
  padding-left:360px;
  margin-top:-550px;
  margin-left:-80px;


}





.letss{
  padding-left:300px;
  margin-top:-600px;
}




.spider{
margin-left:-470px;
margin-top:200px;
}


.red{
  margin-left:-190px;
  padding-top:150px;
}


.momo{
  margin-left:190px;
  margin-top:-55px;

}



.nino{
  margin-left:190px;
  margin-top:-55px;







}
table, th, td {
  border:1px solid black;
}


.puma{
  position:relative;
  margin-left:300px;
  margin-top:-600px;
}

.pong{
  margin-top:400px;
}

.suicide{
  margin-left:-190px;
  padding-top:250px;


}


.christ{
  margin-left:190px;
  margin-top:-55px;
}


























}
