
.click{
  float: right;
  padding: 10px 10px 10px 10px ;
  background-color: #171717;
  color: white;
  border-radius: 5px 5px 5px 5px ;
}
}
.bong{
  margin-left:200px;
  padding-left:-100px;
}


.butt {
padding-top:10px;

}


.tickets{
  margin-left:190px;
  margin-top:-55px;
}


.bg{
  background-color:#171717;
  background-repeat:no-repeat;
  background-size:100% 100%;
  padding:0;




}

.letters{
  padding-left:360px;
  margin-top:-550px;
  margin-left:-80px;
  color:grey;



}





.letss{
  padding-left:300px;
  margin-top:-600px;
}




.spider{
margin-left:-470px;
margin-top:200px;
}


.red{
  margin-left:-190px;
  padding-top:150px;
}


.momo{
  margin-left:190px;
  margin-top:-55px;

}



.nino{
  margin-left:190px;
  margin-top:-55px;







}
table, th, td {

  text-align:center;
}

th{
  background-color: #FFBF00;
 color: black;
}

td{
  background-color: black;
  color:white;
}


.puma{
  position:relative;
  margin-left:300px;
  margin-top:-600px;
}

.pong{
  margin-top:150px;
  margin-left:-10px;

}





.suicide{
  margin-left:-190px;
  padding-top:250px;


}


.christ{
  margin-left:190px;
  margin-top:-55px;
}
